@import url('https://fonts.googleapis.com/css?family=Roboto');

/* General Properties */
*{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
a:link{
    color: #4412AA;
}

a:visited{
    color: #4412AA;
}
a:hover{
    color: #FF3DFF;
}

html{
    margin: 0 0 100px 0;
}
/*-----------------*/

/* Layout header with nav links and logo */
header a{ 
    text-decoration: none;
    margin: 20px;
}
nav.wrap {
    height: 25px;
    position: fixed;
    top: 15px;
    right: 10px;
}
#head {
    position: fixed;
    top: 0px;
    right: 20px;
    margin: 0px 0;
}
img[alt="Logo"]{
    height: 200px; 
    width: auto;
    position: fixed;
    top: 40px;
    left: -20px;
}
header {
    height: 40px;
    width: 100%;
    background:#20C0E5; 
    position: fixed;
    top: 0;
    right: 0;
}
/* ---------------------- */

/* index.html "view items" tables */
content.table_content{
    float: right;
    margin: 100px 40% 0 0;
}

table.all_items{
    border: dashed;
}

.table_content h2{
    margin: 45px 0px 10px 0;
}


tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

th.all_items{
    background:#20C0E5; 
}
/* -------------------------- */

/* show_item.html "item view" */
section.show_item{
    /* display: inline; */
    /* float: right; */
    margin: 100px 0 0 12%;
}

.show_item h3.title{
    display: inline;
    background:#20C0E5;
    margin: 0 10px 0 0;
    /* padding: 0 220px; */
    /* width: auto; */
}

input[type="submit"]{
    display: inline;
    margin: 0 -10px 0 16px;
    padding: 0
}
/*-------------------------*/

/* edit_item.erb "edit items" */
/* form input formatting too */
section.show_edit_item{
    /* display: inline; */
    /* float: right; */
    margin: 100px 0 0 12%;
}

div.edit_name{
    background:#20C0E5;
    display: inline;
    padding: 0 10px;
}

label{
    display: block;
    background:#20C0E5;
    float: left;
    width: 23%;
    text-align: center;
}
input[type="submit"].edit_button {
    /* display: inline; */
    margin: 20px 0 0 12%;
    padding: 10px;
  }
/* create_fridge "add fridge" */
section.create_fridge{
    /* display: inline; */
    /* float: right; */
    margin: 100px 0 0 12%;
}

section.create_fridge h2{
    /* display: inline; */
    /* float: right; */
    margin: 0 0 28px 6%;
}
input[type="submit"].create_fridge_button {
    /* display: inline; */
    margin: 20px 0 0 12%;
    padding: 10px;
  }







