<h2> Add Fridge to Account </h2>

<form method="post" action='/fridges'>
  <label for="name">Fridge Name:</label>
  <input type="text" name="name" id="name" value="Kitchen Fridge"> <br>
  <input type="submit" value="Add Fridge">
</form>