<section class="create_fridge">

<h2> Add New Fridge to Account </h2>

<form method="post" action='/fridges'>
  <label for="name">Fridge Name:</label>
  <input type="text" name="name" id="name" placeholder="Kitchen Fridge" required> <br>
  <input type="submit" class="create_fridge_button" value="Add Fridge">
</form>
<img alt="Smiling Logo"src="/images/smiling_logo.svg">
</section>