<h1>Welcome! Sign Up for Sinatra Launch Manifest!</h1>
<form method="post" action='/organizations/create_organization'>
  <label for="name">Organization Name ID:</label>
  <input type="text" name="name" id="name"> <br>
  <label for="password">Create Password:</label>
  <input type="text" name="password" id="password"><br>
  <label for="content">Tell the world about your organization!</label> <br>
  <textarea NAME="content" id="content" ROWS=3 COLS=30 ></textarea> <br>

  <input type="submit" value="Create Organization">
</form>