
<section class="failure">
<h1>ohhhh nooooo!<br>
Something is wrong with the account information you provided.<br> <br>
Need to <a href="/users/login">login?</a></h1>
<h1>Need to <a href="/users/create_user">create a new account</a> instead?</h1>
<img alt="Unhappy Logo" src="/images/error_fridge.svg">

</section>