<h1>Log in your Organization</h1>

<form action="/organizations/login" method="post">
    <label for="name">Organization Name ID:</label>
    <input type="text" name="name" id="name"> <br>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password">
    <input type="submit" value="Log In">
</form>