<h1><%= @user.username %>'s Account</h1>

<h2>Change Account Information</h2>
name
password
password

<h2>Fridges</h2>

<%= find_and_display_sharers(@user) %>

<% if !find_and_display_sharers(@user).empty? %>
    <h2>Unlink An Account?</h2>
    <p>Have account owner of account to unlink provide username and password. WARNING: This account will LOSE ACCESS to shared fridgea and all its items!</p>
    <form action=""></form>
<% end %>

<h2>Link Another Account?</h2>
<p>Have account owner of account to link provide username and password</p>

<form action="/users/<%= @user.slug %>/link" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <label for="name">Username:</label>
  <input type="text" name="name" id="name"> <br>
  
  <label for="password">Password:</label>
  <input type="text" name="password" id="password"><br>
  
  <input type="submit" value="Link Account">

</form>

<h2>Delete Account</h2>
WARNING: This cannot be undone.  Access to all fridges and items will be lost.









