<h2> Create Item!</h2>

<form method="post" action="/items">
  <label for="name">Name: </label>
  <input type="text" id=name name="item[attributes][name]" required><br>

  <label for="quantity">Quantity: </label>
  <input type="text" id=quantity name="item[attributes][quantity]" value="1.0" required><br>

  <label for="fridge">Fridge</label>
  <select name="item[fridge][name]" id="fridge">
    <% @user.fridges.each do |fridge| %>
         <option value="<%= fridge.name %>"><%= fridge.name %></option>
    <% end %>
  </select><br>

  <label for="category">Category: </label>
  <input type="text" id=category name="item[attributes][category]" placeholder="Dessert"><br>
  <label for="sell_by">Sell By Date: </label>
  <input type="text" id=sell_by name="item[attributes][date_sell_by]" placeholder="MM/DD/YY"><br>
  <label for="expires">Expiration Date: </label>
  <input type="text" id=expires name="item[attributes][date_expires]" placeholder="MM/DD/YY"><br>
  <label for="grams">Weight(grams): </label>
  <input type="text" id=grams name="item[attributes][grams]"><br>
  <label for="note">Note: </label>
  <input type="text" id=note name="item[attributes][note]"><br>
  <input type="submit" value="submit">
</form>



     <%# #params{   
            # item => {
            #     attributes => {name:___, category:___,...,note:_____]
            #     fridge => {name:____}
            # }
     #} %>