<section class="home">
<h2> Welcome to Sinatra Refrigerator Inventory Tracker </h2>

<h1><a href="/users/login">Registered User? Sign in!</a></h1>

<h1><a href="/users/create_user">Become a User!</a></h1>
</section>
