<h2> Welcome to Sinatra Launch Manifest </h2>

<h1><a href="/organizations/login">Registered Organization? Sign in!</a></h1>

<h1><a href="/organizations/create_organization">Create an Organization</a></h1>


