<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Fridge Inventory</title>
  </head>

  <body>
    <% if flash.has?(:message) %>
        <%= flash[:message] %>
    <% end %>
    <%= yield %>
    <br></br>
    <a href="/items">View All Items</a>
  </body>
</html>